@font-face {
	font-family: 'Gosha Sans';
	src: url('PPGoshaSans-Bold.woff2') format('woff2'), url('PPGoshaSans-Bold.woff') format('woff'),
		url('PPGoshaSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gosha Sans';
	src: url('PPGoshaSans-Regular.woff2') format('woff2'),
		url('PPGoshaSans-Regular.woff') format('woff'),
		url('PPGoshaSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
