// reset
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  line-height: 1.4;
  appearance: none;

  // renders
  image-rendering: crisp-edges;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  // disable blue box on mobile
  -webkit-tap-highlight-color: transparent;
  &:active {
    -webkit-tap-highlight-color: transparent;
  }
}

::selection {
  background: $grey;
  color: $black;
  -webkit-text-fill-color: $black;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: $black;
  color: $base;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $bg;
  border-radius: 0.5em;
}

body,
input,
textarea,
select,
option {
  font-family: "Gosha Sans", "Segoe UI Emoji", sans-serif;
}

h1,
h2,
h3,
h4,
input,
textarea,
select,
option,
p {
  font-weight: lighter;
}

strong {
  @include textGradient;
}

//hyperlinks
a {
  text-decoration: none;
  color: $pri;
}

//lists
ul {
  list-style: none;
}

//code
pre,
code {
  font-family: "Operator Mono Lig", monospace;
  font-size: 0.9em;
}
