//colors
$pri: #00fefe;
$sec: #7d6bff;
$ter: #fa8efd;
$black: #161616;
$white: #fff;
$grey: #929292;

//ui colors
$bg: $black;
$border: $grey;

//text
$base: $black;
$sub: $grey;

//notificators
$link: #2d8cf0;
$success: #19be6b;
$warning: #ff9900;
$error: #ed3f14;
$disabled: $border;

//gradient
$grad: linear-gradient(30deg, $pri calc(100% / 3), $sec calc((100% / 3) * 2), $ter);

//media queries
$max: 1200px;
$mobile: 600px;
$tablet: 900px;

//text size
$text: 1em;

@mixin maxWidth {
  max-width: $max;
  margin: 0 auto;
}

@mixin textGradient {
  background: $grad no-repeat;
  background-size: 100% 200%;
  background-position: 0 0;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animateTextGradient 2s ease-in-out infinite;
}

@keyframes animateTextGradient {
  50% {
    background-position: 0 100%;
  }

  100% {
    background-position: 0 0;
  }
}
